body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 50%, #f5af19 100%);
}

.list-clients-container {
  padding: 40px;
  text-align: center;
  background: linear-gradient(135deg, #0ea91bdb 0%, #612e0789 50%, #1b5813fb 100%);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  color: white;
  max-width: 1200px;
  margin: auto;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  max-width: 300px;
  margin-right: 10px;
  border-radius: 25px;
}

.search-label {
  color: #ffffff;
  font-weight: bold;
}

.search-bar .MuiOutlinedInput-root {
  border-radius: 25px;
}

.search-bar .MuiInputLabel-outlined {
  color: #ffffff;
}

.search-bar .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff;
}

.search-bar .MuiInputBase-input {
  color: #ffffff;
}

.search-bar .MuiSvgIcon-root {
  color: #ffffff;
}

.clients-grid {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
}

.client-grid-item {
  display: flex;
  justify-content: center;
}

.client-card {
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.client-card.card-color-0 {
  background: linear-gradient(to right, #2b5876, #4e4376);
}

.client-card.card-color-1 {
  background: linear-gradient(to right, #141e30, #243b55);
}

.client-card.card-color-2 {
  background: linear-gradient(to right, #232526, #414345);
}

.client-card.card-color-3 {
  background: linear-gradient(to right, #3a6186, #89253e);
}

.client-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.client-card .MuiCardContent-root {
  padding: 20px;
}

.client-card .MuiTypography-h6,
.client-card .MuiTypography-body2 {
  color: white;
}

.client-card .MuiCardActions-root {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.client-card .custom-button {
  background-color: #287da7a8;
  color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(156, 167, 195, 0.2);
  padding: 5px 15px;
}

.client-info {
  font-family: 'Roboto Mono', monospace;
}

.client-plan {
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

.card-design-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-design {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #ff6fd8 0%, #3813c2 100%);
  position: relative;
  color: white;
  text-align: left;
}

.card-design::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-design h2 {
  margin: 0;
  font-size: 18px;
}

.card-design p {
  margin: 5px 0;
}

.card-design .white-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.card-design .logo {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.barcode {
  width: 85%;
  height: 100%;
  object-fit: contain;
}

.qrcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.back .quote {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-style: italic;
}
