.transaction-page-container {
  font-family: 'Helvetica', sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #e3e5ebaf; /* Light gray background for better contrast */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.637);
  border-radius: 15px;
  overflow-y: auto;
  max-height: 100vh;
}

h1 {
  font-size: 36px;
  color: #0056b3; /* Professional dark blue */
  text-align: center;
  margin-bottom: 20px;
}

.ant-table {
  background-color: #ffffffcc; /* White background for the table */
  border-radius: 10px;
}

.ant-table-thead > tr > th {
  background-color: #0056b3; /* Dark blue header background */
  color: #ffffffe7; /* White text in header */
  font-size: 18px;
  text-align: center;
}

.ant-table-tbody > tr > td {
  background-color: #2b4ad8; /* Light gray background for table rows */
  color: #333333; /* Dark gray text */
  text-align: center;
  font-size: 16px;
}

.ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #4495ffd5; /* Alternating row background */
}

.ant-pagination-item {
  background-color: #0056b3; /* Dark blue pagination background */
  color: rgba(19, 78, 187, 0.247); /* White text in pagination */
}

.ant-pagination-item-active {
  background-color: #ffcc00; /* Highlight active page with yellow */
  color: black;
}
